/include/ "system-conf.dtsi"
/ {
};

&gem0 {
    local-mac-address = [fa 61 0e 03 00 00];
    phy-handle = <&extphy0>;
    phy-mode="gmii";
    status = "okay";
    xlnx,has-mdio = <0x1>;
    mdio {
        #address-cells = <1>;
        #size-cells = <0>;
        extphy0: ethernet-phy@1 {
            reg = <1>;
        };
    };
};  

&qspi {
    status = "okay";
    flash@0 {
        compatible = "winbond,w25q128", "jedec,spi-nor";
        reg = <0x0>;
        spi-max-frequency = <50000000>;
        #address-cells = <1>;
        #size-cells = <1>;
    };
};
