/include/ "system-conf.dtsi"
/ {
};

&gem0 {
    local-mac-address = [fa 61 0e 03 00 00];
    phy-handle = <&extphy0>;
    phy-mode="rgmii-id";
    status = "okay";
    xlnx,has-mdio = <0x1>;
    mdio {
        #address-cells = <1>;
        #size-cells = <0>;
        extphy0: phy@1 {
            device_type = "ethernet-phy";
            reg = <1>;
        };
        gmii_to_rgmii_0: gmii_to_rgmii_0@8 {
            compatible = "xlnx,gmii-to-rgmii-1.0";
            phy-handle = <&extphy0>;
            reg = <8>;
        };
    };
};  

&qspi {
    status = "okay";
    flash@0 {
        compatible = "winbond,w25q128", "jedec,spi-nor";
        reg = <0x0>;
        spi-max-frequency = <50000000>;
        #address-cells = <1>;
        #size-cells = <1>;
    };
};
