#
# This file contains configuration fragments for FPGA V3.
#
# The intended approach was to use these fragments in the following recipe:
#   project-spec/meta-user/recipes-kernel/linux/linux-xlnx_%.bbappend
# either by adding file://fpgav3-fragments.cfg to SRC_URI, or by moving
# the contents of this file to bsp.cfg, which is already in SRC_URI.
#
# But, that approach is not currently working, so we instead add this file
# to the end of the petalinux-generated "config" file:
#   project-spec/configs/config
# During the build process, petalinux reorganizes the "config" file 
# to a more logical layout.

# GMII2RGMII driver no longer needed because PS not directly connected
# to GMII2RGMII core.
# CONFIG_XILINX_GMII2RGMII is not set

# Ethernet
CONFIG_SUBSYSTEM_ETHERNET_MANUAL_SELECT=y

# Flash Settings
# Partitions 0-2 are the default settings, but are repeated here for completeness
# Partition 3 is unused
# Partition 4 is reserved for fpga-info (FPGA S/N)

# Following is also the default setting
CONFIG_SUBSYSTEM_FLASH_PS7_QSPI_0_BANKLESS_SELECT=y

# partition 0
CONFIG_SUBSYSTEM_FLASH_PS7_QSPI_0_BANKLESS_PART0_NAME="qspi-boot"
CONFIG_SUBSYSTEM_FLASH_PS7_QSPI_0_BANKLESS_PART0_SIZE=0x500000

# partition 1
CONFIG_SUBSYSTEM_FLASH_PS7_QSPI_0_BANKLESS_PART1_NAME="qspi-kernel"
CONFIG_SUBSYSTEM_FLASH_PS7_QSPI_0_BANKLESS_PART1_SIZE=0xA80000

# partition 2
CONFIG_SUBSYSTEM_FLASH_PS7_QSPI_0_BANKLESS_PART2_NAME="qspi-bootenv"
CONFIG_SUBSYSTEM_FLASH_PS7_QSPI_0_BANKLESS_PART2_SIZE=0x20000

# partition 3
CONFIG_SUBSYSTEM_FLASH_PS7_QSPI_0_BANKLESS_PART3_NAME="qspi-spare"
CONFIG_SUBSYSTEM_FLASH_PS7_QSPI_0_BANKLESS_PART3_SIZE=0x50000

# partition 4
CONFIG_SUBSYSTEM_FLASH_PS7_QSPI_0_BANKLESS_PART4_NAME="qspi-fpga-info"
CONFIG_SUBSYSTEM_FLASH_PS7_QSPI_0_BANKLESS_PART4_SIZE=0x10000

# partition 5
CONFIG_SUBSYSTEM_FLASH_PS7_QSPI_0_BANKLESS_PART5_NAME=""

# Kernel bootargs
CONFIG_SUBSYSTEM_BOOTARGS_AUTO=n
CONFIG_SUBSYSTEM_USER_CMDLINE="console=ttyPS0,115200 earlycon clk_ignore_unused root=/dev/ram0 rw"

# FSBL Configuration
CONFIG_SUBSYSTEM_FSBL_COMPILER_EXTRA_FLAGS="-DFSBL_DEBUG_INFO"

# TFPT is disabled
CONFIG_SUBSYSTEM_COPY_TO_TFTPBOOT=n
